<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Instagram to PDF</title>
  <link href='https://fonts.googleapis.com/css?family=Arial' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arial' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=A:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h2>Download Instagram Post as PDF</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="/instapost" method ='GET'>
    	<p>PostURL <input type = "text" name = "PostURL" /></p>
      <p>File Name <input type = "text" name = "FileName" /></p>
      <button type="submit" class="btn btn-primary btn-block btn-large">Download</button>
    </form>

   <br>
   <br>
 </div>


</body>
</html>